<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>커뮤니티 사이트 데모</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

<div class="container">
    <div id="loginForm">
        <h2>로그인</h2>
        <div id="login">
            <div class="form-group">
                <label for="email">이메일</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">비밀번호</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button id="loginBtn">로그인</button>
          </div>
        <div class="form-switch">
            <p>계정이 없으십니까?<a href="#" onclick="showSignUpForm()">회원가입</a></p>
        </div>
    </div>

    <div id="signUpForm" style="display:none;">
        <h2>회원가입</h2>
        <div id="signUp">
            <div class="form-group">
                <label for="name">성명</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="email">이메일</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">비밀번호</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button id="signUpBtn">회원가입</button>
          </div>
        <div class="form-switch">
            <p>이미 계정이 있으신가요? <a href="#" onclick="showLoginForm()">로그인</a></p>
        </div>
    </div>
</div>

<script src="/javascripts/jquery-3.7.1.min.js"></script>
<script src="/javascripts/index.js"></script>

</body>
</html>