<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>커뮤니티 사이트 데모</title>
</head>
<body>

<div class="container">
    main
</div>

<script src="/javascripts/jquery-3.7.1.min.js"></script>

</body>
</html>