<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>내 프로필</title>
    <link rel="stylesheet" href="/stylesheets/profile.css" />
  </head>

  <body>
    <div class="container">
      <header>
        <h1>내 프로필</h1>
        <nav>
          <a href="/">홈</a>
          <a href="/logout">로그아웃</a>
        </nav>
      </header>

      <main>
        <div class="profile-info">
          <div class="profile-image">
            <img
              id="user-image"
              src="/images/default-profile.png"
              alt="프로필 이미지"
            />
          </div>
          <div style="margin-left:50px;">
            <h2 id="user-name">사용자 이름</h2>
            <p id="user-email">이메일 주소</p>
            <button class="btn" id="edit-profile">프로필 수정</button>
          </div>
        </div>

        <!-- 프로필 수정 폼 (처음에는 숨겨져 있음) -->
        <div class="edit-profile-form" id="edit-profile-form">
          <h2>프로필 수정</h2>
          <form id="profile-form" enctype="multipart/form-data">
            <div class="form-group">
              <label for="profile-image-upload">프로필 이미지</label>
              <input
                type="file"
                id="profile-image-upload"
                name="profile-image"
                accept=".jpg, .png"
              />
            </div>
            <div class="form-group">
              <label for="profile-name">이름</label>
              <input type="text" id="profile-name" name="name" value="" />
            </div>
            <div class="profileEditBtn">
              <button type="submit" class="btn">저장</button>
              <button type="button" class="btn cancel" id="cancel-edit">
                취소
              </button>
            </div>
          </form>
        </div>
      </main>

      <div class="myBoard" id="myBoard">

      </div>

      <footer>
        <ul id="pagination" class="pagination"></ul>
        <p>&copy; 2024 커뮤니티 사이트</p>
      </footer>
    </div>

    <script src="/javascripts/jquery-3.7.1.min.js"></script>
    <script src="/javascripts/profile.js" type="module"></script>
  </body>
</html>
